<h1>About</h1>
<p>Each lesson is based on <%= link_to "positive reinforcement training", "http://www.humanesociety.org/animals/dogs/tips/dog_training_positive_reinforcement.html" %>, and daily repetition to help dogs quickly learn and remember behaviours.

</p>