<div class="hero-unit">
<h1>Rob has made a homepage mofo's!</h1>
<p>Here is a link to 
	<%= link_to "ESPN", "http://espn.go.com" %>
</p>
<p>
	<%= link_to "Sign up now!", "#", class: "btn btn-primary btn-large" %>

</div>