<% if user_signed_in? %>
	<h1>You're logged into this website!</h1>
<% else %>
	<div class="hero-unit">
		<h1>Fetch - Train your dog to be awesome.</h1>
		<h2>10-minute games you can play daily with your dog to help it quickly learn new behaviours and tricks.</h2>
		<p><br>
			<%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
	</div>
<% end %>